body {
  background: lightblue;
  color: white;
}

.p1, .p2 {
  border: 1px solid black;
  height: 150px;
}

#spacer {
  height: 30px;
}

#p1board {
  margin-top: 30px;
}

#start {
  margin-right: 10px;
}
